:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style-type:none;
  border:solid 1px;
  padding:20px;
  margin:20px;
}

#partyEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#noZombiesYet {
  display: flex;
  align-items: center;
  justify-content: center;
}

#zombieView {
  width: 150px;
  height: 70px;
}

#displayZombie {
  position: relative;
}

#torso {
  width: 130px;
  height: auto;
  z-index: 0;
}

#left-thigh, #right-thigh  {
  width: 60px;
  height: auto;
  position: absolute;
  bottom: -20px;
  z-index: -1;
}

#left-thigh {
  left: 35px;
}

#right-thigh {
  left: 70px;
}

#left-leg, #right-leg {
  width: 40px;
  height: auto;
  position: absolute;
  bottom: -40px;
  z-index: -2;
}

#left-leg {
  left: 45px;
}

#right-leg {
  left: 85px;
}

#left-feet, #right-feet {
  width: 40px;
  height: auto;
  position: absolute;
  bottom: -50px;
  z-index: -3;
}

#left-feet {
  left: 45px;
}

#right-feet {
  left: 85px;
}

#left-upper-arm, #right-upper-arm {
  width: 50px;
  height: auto;
  position: absolute;
  bottom: 50px;
}

#left-upper-arm {
  z-index: 2;
  left: 55px;
}

#right-upper-arm {
  width: 40px;
  bottom: 55px;
  z-index: -1;
  left: 95px;
}

#left-forearm, #right-forearm {
  width: 40px;
  height: auto;
  position: absolute;
  bottom: 55px;
  z-index: 3;
}

#left-forearm {
  left: 80px;
}

#right-forearm {
  left: 110px;
}

#left-hand, #right-hand {
  width: 40px;
  height: auto;
  position: absolute;
  z-index: 4;
}

#left-hand {
  left: 100px;
  bottom: 60px;
}

#right-hand {
  left: 130px;
  bottom: 57px;
}

#shirt {
  width: 125px;
  position: absolute;
  height: auto;
  z-index: 1;
}

#head {
  position: absolute;
  width: 220px;
  z-index: 2;
  bottom: 50px;
  left: 0px;
}

#eyes {
  position: absolute;
  width: 95px;
  z-index: 3;
  left: 80px;
  bottom:115px;
}

#mouth {
  position: absolute;
  z-index:4;
  width: 50px;
  left: 105px;
  bottom: 85px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
